.heroWrapper {
  background-image: url('../../images/autumn.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--color-white);
}
